{% extends '../base.html' %}
{% block title %}
{{post.title}}
{% endblock%}

{% block content %}
    {% include './card.html' with post=post %}
{% for comment in post.comment_set.all %}
<div class="card mb-2">
    <div class="card-body">
        <p class="card-text">
            {{comment.body}}
        </p>
        <footer class="blockquote-footer">{{comment.created_at | date:'f a d M'}} <cite title="Source Title">({{comment.user|default:'Anonymous'}})</cite></footer>

    </div>
</div>

{% endfor %}
<form method="post" action="{% url 'blog:posts.comments.save' post.id %}">
    {% csrf_token %}
    <div class="form-group text-right">
        <textarea class="form-control" name="body" placeholder="Leave a comments"></textarea>
        <input type="submit" value="Save" class="btn btn-primary mt-2">
    </div>

</form>
{% endblock %}
